<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP2nJjqD0qA3oLO9S53UVt7JRLWsVaOtU</string>
	<key>GCM_SENDER_ID</key>
	<string>722192984616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.girman</string>
	<key>PROJECT_ID</key>
	<string>girman-ace5c</string>
	<key>STORAGE_BUCKET</key>
	<string>girman-ace5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722192984616:ios:02fee9243bf8f3f4c8a31d</string>
</dict>
</plist>